<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
    <form method="post">
        <div class="row">
            <div class="small-8 columns">
                <div class="row">
                    <div class="small-3 columns">
                        <label class="right inline" for="title">Title</label>
                    </div>
                    <div class="small-9 columns">
                        <input type="text" name="title" placeholder="Title">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-8 columns">
                <div class="row">
                    <div class="small-3 columns"></div>
                    <div class="small-9 columns">
                        <input class="button" type="submit" value="Create">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <% include ../partials/scripts %>
</body>
</html>
