<title><%= page.title %> &middot; Watchlist</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet" type="text/css" href="/css/normalize.min.css">
<link rel="stylesheet" type="text/css" href="/css/watchlist.css">
