<!doctype html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
    <form method="post">
        <div class="row">
            <div class="small-8 columns">
                <div class="row">
                    <div class="small-3 columns">
                        <label class="right inline" for="username">Username</label>
                    </div>
                    <div class="small-9 columns">
                        <input type="text" name="username" placeholder="Username">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-8 columns">
                <div class="row">
                    <div class="small-3 columns">
                        <label class="right inline" for="password">Password</label>
                    </div>
                    <div class="small-9 columns">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-8 columns">
                <div class="row">
                    <div class="small-3 columns"></div>
                    <div class="small-9 columns">
                        <input class="button" type="submit" value="Login">
                        <a class="button" href="/register">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <% include partials/scripts %>
</body>
</html>
