.navigation {
    height: 50px;
    background: #efefef;

    a {
        color: #000;
        text-decoration: none;
    }

    a:visited {
        color: #000;
    }

    li {
        display: inline;
    }
}
