<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
    <div class="row">
        <div class="small-12 column">
            <h1><%= user.username %></h1>
        </div>
    </div>
    <div class="row">
        <div class="small-6 column">
            <h2>Lists</h2>

            <% for (var i in lists) { %>
                <div class="row">
                    <div class="small-12 column">
                        <h3><%= lists[i].title %></h3>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <% include ../partials/scripts %>
</body>
</html>
